NEXT_PUBLIC_SUPABASE_URL=https://nijmacfiacffczwtyqlk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pam1hY2ZpYWNmZmN6d3R5cWxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAyNTAyNTUsImV4cCI6MjA2NTgyNjI1NX0.v9Zrl4n98mPZV8LxmmSWPE3XZok6kWlILJX7TohT20Y